body {
  font-family: Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -0.15rem;
  color: #707070;
}

.sub-title {
  font-weight: 500;
  font-size: 1rem;
  color: #707070;
}

/*=============== Navigation bar ===============*/
nav {
  z-index: -1000 !important;
}

.navbar {
  padding-left: 1rem;
}

nav .logo {
  width: 13rem;
  height: auto;
  padding: 0.75rem;
}
/*=============== End Navigation bar ===============*/

/*=============== Begin SideNav ===============*/
.white-text {
  color: white;
}

.side-nav-container {
  padding: 0!important;
  height: 100vh;
}

.side-nav {
  position: fixed;
  background: #3C58B9;
  height: 100%;
  position: fixed;
}

#side-nav-logo {
  display: block;
  width: 4.5em;
  height: 4.5em;
  margin: 1rem auto;
}

.side-icon {
  display: block!important;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 3.5rem 0;
}

.side-nav-footer {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.balance {
  font-size: 1.5rem;
}

.dropup-container {
  position: relative;
  width: 7rem;
}

.dropup-content {
  display: none;
  position: absolute;
  background: black;
  color: white;
  bottom: 2rem;
  left: 0.3rem;
  width: 90%;
  padding: 0.5rem 0;
  text-align: center;
}

.dropup-content a {
  display: block;
}

.dropup-container:hover .dropup-content {
  display:block;
}

/*=============== End SideNav ===============*/

/*=============== Begin SideMenu ===============*/
.side-menu-container {
  padding: 0!important;
}

.side-menu {
  position: fixed;
  background: #1c2c85;
  height: 100vh;
  padding: 0 1.5rem;
  /* Experiment */
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.side-menu-header {
  margin: 0;
}

#profile-pic {
  margin: 1rem 0;
  width: 7rem;
  height: 7rem;
}

#fullname {
  color: white;
  margin-top: 0;
  opacity: 0.8;
}

#separator {
  width: 100%;
}

.side-btn {
  background: #3C58B9;
  margin: 0.3rem 0;
}

.buttons-row {
  margin-bottom: 1rem;
}

.side-menu-header::after {
  display: none;
}

.financial-row {
  height: 4rem;
}

.financial-icon {
  color: #fff;
  font-size: 2rem;
}

.financial-name {
  color: #fff;
  opacity: 0.65;
  margin: 0;
}

.financial-amount {
  margin: 0;
  color: #fff;
}

.income-container {
  border-right: 1px solid rgba(170, 170, 170, 0.80);
  height: 100%;
}

.income-wrapper {
  margin: 0;
  height: 100%;
}

.income-wrapper::after {
  display:none;
}

.spending-container {
  height: 100%;
}

.spending-wrapper {
  margin: 0;
  height: 100%;
}

.spending-wrapper::after {
  display: none;
}

.bank-acc-row {
  flex-grow: 1;
}

.bank-acc-container {
  text-align: left;
  height: 100%;
}

#bank-acc {
  color: #fff;
  opacity: 0.65;
}

.bank-info {
  position: relative;
  background: #3C58B9;
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

.add-btn {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #08AFCE;
}
/*=============== End SideMenu ===============*/

/*=============== Begin ActivityMenu ===============*/
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.dashboard-title {
  font-size: 2rem;
  color: #707070;
}

.dashboard-subtitle {
  font-size: 1.5rem;
  color: #707070;
}

.budget-total {
  color: #AAAAAA;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.budget-total-title {
  letter-spacing: 0.05rem;
  margin-right: 1.5rem;
}

.budget-num {
  color: #272727;
  font-size: 2rem;
}

.budget-item {
  position: relative;
  height: 9rem;
  border-radius: 10px;
}

.budget-title {
  position: relative;
  color: white;
  opacity: 0.7;
  top: 7%;
  left: 7%;
}

.budget-amount {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  opacity: 0.8;
}

.progress-bar {
  position: absolute;
  background: #1C2C85;
  height: 1rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
  border-radius: 10px;
}

.activity-column {
  padding: 1.5rem 2rem!important;
}

.teal-bg {
  background: #08AFCE;
}

.light-blue-bg {
  background: #3C58B9;
}

.spent-icon {
  color: #e57373;
  font-size: 2.5rem;
}

.item-cost-row::after {
  display: none;
}

.item-cost {
  font-weight: bold;
  color: #707070;
  font-size: 1.2rem;
}

.item-category {
  color: #AAAAAA;
  font-size: 0.88rem;
}

.item-name {
  color: #707070;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0.88;
  letter-spacing: 0.01rem;
}

.item-date {
  color: #AAAAAA;
  font-size: 0.9rem;
}

/*=============== End ActivityMenu ===============*/
/*=============== Layout ===============*/
.slide-form {
  padding: 8.3% 5.2% !important;
}

.slide-image {
  height: 51.2rem;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  padding: 0 !important;
  padding-right: 0.75rem;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

/*=============== End Layout ===============*/

/*=============== SignIn ===============*/
#signIn-image {
  background-image: url('./assets/img/signIn-left.jpg');
}

.signIn-logo {
  width: 10rem;
  height: auto;
  padding-left: 1rem;
}

.custom-btn {
  padding: 0.5rem 0rem;
  box-sizing: content-box;
  text-transform: initial;
  margin-bottom: 0.75rem;
}

.btn-login {
  background-color: #08afce;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-login:hover {
  background-color: #069eba;
}

.btn-social-fb {
  background-color: #4267b2;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-social-fb:hover {
  background-color: #2b4272;
}

.form-ico {
  position: absolute;
  top: 15px;
  right: 10px;
  font-weight: 100;
}

.login-phrase {
  width: 65%;
  height: auto;
  position: relative;
  left: 4%;
  top: 22%;
}

.link-a {
  color: #08afce;
}

.link-a:hover {
  color: #069eba;
}

.light-logo {
  width: 75%;
  height: auto;
  margin-bottom: 1.3rem;
}

.profile-image {
  width: 35%;
  border: 1px solid #707070;
}

#link-newAccount {
  font-size: 1.2rem;
}
/*=============== End SignIn ===============*/

/*=============== SignUp ===============*/
.alert-wrong {
  position: absolute;
  z-index: 1000;
  top: 43rem;
  width: 40rem;
  margin: 0 1.3rem;
}

#signUp-title {
  text-align: initial;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
}

#signUp-subTitle {
  padding-left: 1rem;
}

#signUp-image {
  background-position-x: 0rem;
}

#signUp {
  padding: 2.1% 6.2% !important;
}

#signUp-image {
  background-image: url('./assets/img/signup-img.png');
}

#signUp-phrase {
  width: 90%;
  top: 0px;
  left: 0px;
  margin: 1rem;
}

#signUp-form .input-field {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*=============== End SignUp ===============*/
.submit {
  text-align: center;
}

.btn {
  width: 100%;
}

.alert {
  padding: 0.5rem 1rem;
}

.sidemenu-container {
  margin-top: 20px;
}

.sidemenu-button {
  margin: 0.3rem 0;
}

#newTransaction {
  width: 200px;
}

.activity-container {
  margin-top: 20px;
}

.item-container {
  padding: 10px 8px;
}

.item {
  border-radius: 6px;
  margin: 0.3rem 0!important;
  padding: 0.7rem 0!important;
}

.item-button {
  padding: 0;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 30px 65px;
  margin: 100px 0 20px;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

.edit:hover {
  color: orange;
  cursor: pointer;
}

.save:hover {
  color: green;
  cursor: pointer;
}

.dropdown-content {
  max-height: 250px;
}

input[type=date]::-webkit-inner-spin-button { -webkit-appearance: none; display: none; } 
::-webkit-datetime-edit { padding: 0; margin: 0 } 
::-webkit-calendar-picker-indicator { padding: 0.1em; }

/*=============== ADDONS ===============*/
.material-icons {
  color: #70707080;
}

.social-icon {
  margin-right: 0.4rem;
  font-size: 1.6rem !important;
}
/*=============== End ADDONS ===============*/

/*=============== Media Queries ===============*/

/*====== Smartphone ======*/
@media only screen and (min-width: 320px) and (max-width: 440px) {
  .title {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1rem;
  }

  .row {
    padding: 8% 5%;
    background-color: #08afce;
  }

  .slide-form {
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px #707070;
  }

  #signUp {
    padding: 0% 3% !important;
    margin-bottom: 2%;
  }

  #signUp-row {
    padding: 2% 0% !important;
  }

  #signUp-light {
    width: 60%;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
  }

  #signUp-title {
    text-align: center;
    font-size: 2.2rem;
    padding-left: 0;
  }
}
/*====== End Smartphone ======*/

/*====== Tablet ======*/
@media only screen and (min-width: 600px) and (max-width: 834px) {
  .title {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.5rem;
  }

  .row {
    padding: 10% 9%;
    background-color: #08afce;
  }

  .slide-form {
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px #707070;
  }

  .light-logo {
    width: 60%;
    margin-bottom: 3rem;
  }

  #signUp {
    padding: 5% 10% !important;
    margin-bottom: 5%;
  }

  #signUp-title {
    font-size: 3rem;
  }

  #signUp-row {
    padding: 10% 0%;
  }

  #signUp-light {
    width: 50%;
    margin-bottom: 2rem;
  }
}

/*====== End Tablet ======*/

/*====== Desktop and Laptop ======*/
@media only screen and (min-width: 1224px) and (max-width: 1400px) {
  .title {
    font-size: 2.5rem;
  }
  .slide-image {
    height: 53.3rem;
  }
}
/*====== End Desktop and Laptop ======*/

/*=============== End Queries ===============*/
